<div class="sign-in-div">
    <mat-card class="sign-in-card mat-elevation-z10">
        <mat-card-title class="sign-in-title">
          Connexion
        </mat-card-title>
        <form (ngSubmit)="submitForm()" [formGroup]="signInForm" class="sign-in-form">

            <mat-form-field appearance="outline" class="sign-in-card-item">
                <mat-label>Email:</mat-label>
                <input formControlName="email" matInput placeholder="email@example.com" type="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="sign-in-card-item">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password">
                <mat-icon matSuffix> vpn_key</mat-icon>
            </mat-form-field>
            <button class="sign-in-card-item sign-up-button" mat-button>Se connecter</button>
            <p>Vous n'avez pas compte ? </p>
            <a routerLink="/sign-up">S'inscrire</a>
        </form>

    </mat-card>
</div>
