<mat-card class = "main">

  <form [formGroup]="profilForm" (ngSubmit)="profilOnSubmit()">
    <img class="rounded-circle" *ngIf="this.pictureUrl !== '' " mat-card-image [src]=this.pictureUrl alt="">
    <p>
      <mat-form-field appearance="outline" class="profil-card-item">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput id="username" formControlName="username" type="text">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="profil-card-item">
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email" type="email">
      </mat-form-field>
    </p>


    <label for="profilPicture" class="md-button md-raised md-primary upload-button">Upload une photo de profil :</label>
    <br>
    <input  id="profilPicture" (change)="onFileSelected($event)" type="file">
    <br>
    <p>
      <mat-form-field appearance="fill" class="profil-card-item">
        <mat-label>Instrument :</mat-label>
        <mat-select [(value)]="selectedInstrument">
          <mat-option>Aucun</mat-option>
          <mat-option *ngFor="let instrument of instrumentList" [value]="instrument">{{instrument}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <mat-checkbox id="isPro" formControlName="isPro" type="file">Êtes-vous un professionnel</mat-checkbox>
    <br>
    <button class="sign-up-button" mat-button [disabled]="profilForm.invalid" >Envoyer</button>

  </form>




</mat-card>
