<nav class="navbar navbar-light navbar-expand-md" style="padding-top: 2%;padding-bottom: 2%;">
  <div class="container-fluid"><a class="navbar-brand" href="#" style="margin-top: 0px;margin-left: 15%;font-size: 27px;">OrgaJam</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon">`</span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav ms-auto" style="margin-right: 15%;">
        <li class="nav-item text-center nav-item-signin"><a class="nav-link fw-bold active nav-link-signin" href="#">S'inscrire</a></li>
        <li class="nav-item fw-bold text-center nav-item-login"><a class="nav-link nav-link-login" href="./login.html" style="color: var(--bs-orange);">S'identifier</a></li>
      </ul>
    </div>
  </div>
</nav>
