<main class="main-login">
  <nav class="navbar navbar-light navbar-expand-md" style="padding-top: 2%;padding-bottom: 2%;">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="margin-top: 0px;margin-left: 15%;font-size: 27px;">OrgaJam</a></div>
  </nav>
  <section class="section-login">
    <div class="div-login">
      <div>
        <h3>S'identifier</h3>
      </div>
      <form>
        <div class="form-floating"><input #email class="form-control form-control-lg" type="email" id="email" placeholder="&quot;name@example.com&quot;"><label class="form-label" for="email" style="padding-top: 10%;font-size: 20px;padding-bottom: 10%;height: 71.2188px;margin: -5px;text-align: left;">Adresse e-mail</label></div>
        <div class="form-floating"><input #password class="form-control" type="password" id="password" placeholder="Password"><label class="form-label" for="password" style="padding-top: 10%;font-size: 18px;padding-bottom: 10%;">Mot de passe</label></div>
        <div id="login-button-div"><button (click)="signIn(email.value,password.value)" class="btn login-button" type="submit">S'identifier</button></div>
      </form>
    </div>
  </section>
</main>

