<mat-card class="user-card mat-elevation-z2"  *ngIf="user !== undefined">
    <mat-card-title-group>
        <mat-card-title>{{user.displayName}}</mat-card-title>
        <mat-card-subtitle>{{user.isPro}}</mat-card-subtitle>
        <img mat-card-sm-image [src]="user.photoURL" >
    </mat-card-title-group>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="isAdded==false" mat-button (click)="isAdded=true">
            <mat-icon>
                add
            </mat-icon>
        </button>
        <button *ngIf="isAdded==true" mat-button (click)="isAdded=false">
            <mat-icon>
                check
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
