<mat-card class="example-card mat-elevation-z5" *ngIf="user !== undefined">
  <mat-card-header>
    <img mat-card-avatar class="rounded-circle" [src]="user.photoURL" alt="Profile"/>
    <mat-card-title>{{user.displayName}}</mat-card-title>
    <mat-card-subtitle *ngIf="user.isPro===true">{{user.service}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="user.isPro===false">{{user.instrument}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p class="content">
      {{post.text}}
    </p>
  </mat-card-content>
  <img *ngIf="post.photoURL !== null " mat-card-image [src]="post.photoURL" alt=""/>

  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>

  <mat-card-footer class="comments">
    <mat-divider></mat-divider>
    <app-comments [post]="post"></app-comments>
  </mat-card-footer>
</mat-card>
