<nav class="navbar navbar-light navbar-expand-lg navigation-clean-search">
  <div class="container">
    <a class="navbar-brand" href="#">OrgaJam</a>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profil" routerLinkActive="active">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/message" routerLinkActive="active">Messagerie</a>
        </li>
      </ul>
      <form class="me-auto search-form" target="_self">
        <div class="d-flex align-items-center search-bar-div">
          <label class="form-label d-flex mb-0" for="search-field">

          </label>
          <i class="fa fa-search"></i>
          <input matInput class="form-control search-field" type="search" id="search-field" name="search" placeholder="Recherche" #searchField (keydown.enter)="onSearch(searchField.value)">
          <button mat-button type='submit' (click)="onSearch(searchField.value)">
            <mat-icon>
              search
            </mat-icon>
          </button>
        </div>
      </form>

      <div *ngIf="isLoggedIn() === true">
        <button class="btn btn-light action-button" role="button" (click)="logOut()" >Se déconnecter</button>
      </div>

      <div *ngIf="isLoggedIn() === false">
        <button  class="btn btn-light action-button" role="button" routerLink="sign-up" >S'enregistrer</button>
        <button class="btn btn-light action-button" role="button" routerLink="sign-in" >Se connecter</button>
      </div>

    </div>
  </div>
</nav>
