
<div>
  <form>
    <div class="form-group">
      <label for="email">email</label>
      <input #email  type="text" class="form-control" id="email" aria-describedby="UsernameHelp" placeholder="Email">
      <small id="UsernameHelp" class="form-text text-muted">Balance ton email.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input #password  type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button (click)="signUp(email.value,password.value)" class="btn btn-primary">Submit</button>
  </form>
</div>
